<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comt.example.java3.eticaretprojesi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Giris" />
        <activity android:name=".Kayit" />
        <activity android:name=".AnaKategoriler" />
        <activity android:name=".AltKategoriler" />
        <activity android:name=".Urunler" />
        <activity android:name=".UrunDetay" />
        <activity android:name=".sepet" />
        <activity android:name=".ayarlar" />
        <activity android:name=".adres" />
        <activity android:name=".adresekle" />
        <activity android:name=".siparisTamamla"></activity>
    </application>

</manifest>